.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:focus + .checkbox__label:before {
			
		}
		&:checked + .checkbox__label:before {
			color: #fff;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
		font-size: rem(13);
		line-height: math.div(17, 13);

		@media (max-width: em(1066)){
			 align-items: start;
		}

		span {
			cursor: default;
		}

		a {
			text-decoration: underline;
		}
		&:before {
			display: flex;
			@extend %ic;
			content: "\e901";
			font-size: rem(8);
			color: #000;
			justify-content: center;
			align-items: center;
			flex: 0 0 12px;
			width: 12px;
			height: 12px;
			background-color: #000;
		}
	}
	// .checkbox__text
	&__text {
	}
}
