//====================================================================================================

.footer {
	text-align: center;
	padding-block: rem(57);
	color: $secondColor;

		&__container {
		}

		&__text {
			font-family: Montserrat;
			font-size: rem(12);
			line-height: math.div(16, 12);
			color: #fff;
		}
}


//====================================================================================================
